Media/
Firmware/petalot/build/*
!Firmware/petalot/build/esp8266.esp8266.d1_mini_clone/
Firmware/petalot/build/esp8266.esp8266.d1_mini_clone/*
!Firmware/petalot/build/esp8266.esp8266.d1_mini_clone/petalot.v1.2.bin
!Firmware/petalot/build/esp8266.esp8266.d1_mini_clone/petalot.1.4.4.bin
!Firmware/petalot/build/esp8266.esp8266.d1_mini_clone/petalot.*-v*.bin
!Firmware/petalot/build/esp8266.esp8266.d1_mini_clone/latest.json
Packaging/
STLs/